<form action="image" enctype="multipart/form-data" method="POST">

    <div class="form-group">
        <label for="myfile">itemImage</label>
        <input type="file" class="form-control" name="itemImage">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button> 
    
</form>