<form action="image"  method="POST" enctype="multipart/form-data">

    <div class="form-group">
        <label for="myfile">image</label>
        <input type="file" class="form-control" name="image">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button> 
    
</form>