<div class="row">

  {{#each items}}

    <div class="col-sm-6 col-md-4 colpad">
      <div class="thumbnail">
        <img src={{imageUrl}} class="img-responsive">
      </div>
    </div>

  {{/each}}
  
</div>