<div class="card" style="width: 18rem;">
  <img src="https://m.media-amazon.com/images/M/MV5BODI0MTYzNTIxNl5BMl5BanBnXkFtZTcwNjg2Nzc0NA@@._V1_UY1200_CR190,0,630,1200_AL_.jpg" class="prof-image" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{status}}</p>
    <a href="#" class="btn btn-primary">edit</a>
  </div>
</div>