<form action="addItem" method="POST">

    <div class="form-group">
        <label for="myfile">imagepath</label>
        <input type="text" class="form-control" name="imagePath">
    </div>

    <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" name="name">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">description</label>
        <input type="text" class="form-control" name="description">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">price</label>
        <input type="text" class="form-control" name="price"> 
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>